
.projectSelect {
    margin: auto;
}
.load{
    margin: 100px;
    .btn.btn-rounded{
        padding: 10px 40px;
        border-radius: 30px;
        background-color: #0a1f33;
        color: #fff;
    }
}
button{
    outline: none;
}

.taskSelect .form-group{
    position: relative;
    top:20px;
}
 Select .form-group label{
    // position: absolute;
    // background: #fff;
    // padding: 0 10px;
    // left: 28px;
    // bottom: 20px;
    // color: #007bff;
}
.active {
    color: #009fdb;
    font-family: font-bold;
    }
    
    